
video/.DS_Store
video/chickens.wav
video/EN20_Chickens.m4v
video/EN20_full.m4v
video/EN20_Log.m4v
video/EN20_whistling.m4v
video/IMG_0806.JPG
video/IMG_0807.jpeg
video/IMG_0811.JPG
video/IMG_0815.JPG
video/IMG_0816.JPG
video/MixPre-036.WAV
video/MixPre-037.WAV
video/MixPre-038.WAV
video/MixPre-039.WAV
video/MixPre-051.WAV
video/screencap1.png
video/screencap2.png
video/screencap3.png
video/screencap4.png
video/screencap5.png
